@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&display=swap');

:root {
    --primary-font-family: "Montserrat", sans-serif;
    --secundary-font-family: "Oswald", sans-serif;
    --primary-color: #f7f5ee;
    --secundary-color: #212121;
    --cinza-claro: #f5f5f5;
    --cinza-medio: #9e9e9e;
    --ciano-escuro: #00A896; 
}

#quem-somos {
    width: 100%;
}

#quem-somos .container {
    display: flex;
    justify-content: flex-start;
}

.imagem {
    width: 40%;
    height: 500px;
    border-radius: 20px;
    overflow: hidden; 
    background-image: url(../images/porta-frente.jpeg);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover; 
    margin-top: 50px;
    margin-left: 30px;
}

.infos-quem-somos {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    text-align: center;
}

.titulo-quem-somos {
    font-size: 32px;
    font-family: var(--secundary-font-family);
}

.desc-quem-somos {
    width: 80%;
    margin-top: 30px;
    font-family: var(--primary-font-family);
    font-size: 20px;
    color: #3A3A3A;
    text-align: start;
}

@media screen and (max-width:850px) {
    .desc-quem-somos {
        font-size: 18px;
    }
}

@media screen and (max-width:768px) {
    .imagem {
        background-image: url(../images/fachadaCanto.jpeg);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        width: 90%;
        height: 350px;
        margin-top: 20px;
        margin-left: 0;
    }

    #quem-somos .container {
        flex-direction: column;
        align-items: center;
    }
    .infos-quem-somos {
        width: 100%;
        justify-content: center;
    }
    .titulo-quem-somos {
        width: 80%;
    }
    .desc-quem-somos {
        width: 90%;
    }
}

@media screen and (max-width:480px) {
    .imagem {
        background-image: url(../images/porta-frente.jpeg);
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    }
    .titulo-quem-somos {
        font-size: 26px;
    }
    .desc-quem-somos {
        font-size: 18px;
    }
}